<h1 class="text-center fw-bold">Shopping list </h1>
<div class="container d-flex flex-column">
  <div class="d-flex align-items-center">
    <h2 class="fw-bold m-2">Recipe: </h2><%= @recipe.name %>
  </div>

  <div class="d-flex align-items-center">
    <h2 class="fw-bold m-2">Inventory: </h2><%= @inventory.name %>
  </div>


  <table class="table table-dark table-striped mt-5">
    <thead>
    <tr>
      <th scope="col">Food</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
    </tr>
    </thead>
  <tbody>
  <tr></tr>
  </tbody>
  </table>
</div>