/* adding styles for inventory */
a {
  text-decoration: none;
}

.inventory-display {
  border: thin solid #a5a5b0;
  padding: 12px;
  margin-bottom: 16px;
  transition: all 150ms ease-in-out;
}

.inventory-display:hover {
  background-color: #e4e4f9;
  border-color: #e4e4f9;
}

.inventory-name {
  width: 20%;
  margin-right: 82px;
  margin-bottom: 0;
}

.inventory-description {
  width: 80%;
  margin-bottom: 0;
}

.mt-2 {
  margin-top: 16px;
}

.zero-disp {
  display: none;
}

.btn a {
  text-decoration: none;
  color: #fff;
}

.form input {
  width: 550px;
}

.form .btn {
  width: fit-content;
}

.log-in {
  height: 300px;
  background-color: #41db96;
  border-radius: 5px;
}

.log-in input {
  width: 300px;
}

.log-in .form-check-input {
  width: 15px;
}

.log-in form {
  width: fit-content;
  padding: 10px;
}

.popup-window {
  border: thin solid gray;
  padding: 16px;
  position: absolute;
  background: #f9f9f9;
  left: 24%;
  width: 50%;
  right: 24%;
  height: 60%;
}

.generate {
  display: block;
  margin-left: auto;
}

.close-popup {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 20px;
}
